<table class="table">
    <thead>
        <tr>
            <th ng-repeat="head in header">{{head.name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in rows">
            <td width="20">{{$index + 1}}
            <td ng-repeat="col in row">{{col}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="{{row.length + 1}}">
                <app-tr></app-tr>
            </td>
        </tr>
    </tfoot>
</table>