<ul class="uib-dropdown-menu" role="menu">
    <li ng-repeat="(key, item) in menus">
        <a ng-href="{{item.href}}" title="{{item.title}}">
            {{item.title}} <span ng-if="item.menus" class="caret"></span>
        </a>
    </li>
</ul>