<nav class="navbar navbar-default {{classes}}">
    <div class="container-fluid">
        <ul class="navbar-nav nav">
            <li ng-repeat="(key, item) in menus" uib-dropdown uib-keyboard-nav>
                <a ng-if="item.menus" ng-href="{{item.href}}" title="{{item.title}}" uib-dropdown-toggle>
                    {{item.title}} <span ng-if="item.menus" class="caret"></span>
                </a>
                <a ng-if="!item.menus" ng-href="{{item.href}}" title="{{item.title}}">
                    {{item.title}}
                </a>
                <app-menu-dropdown ng-if="item.menus" menus="item.menus"></app-menu-dropdown>
            </li>
        </ul>
    </div>
</nav>