<div class="rachunki-client-form">
    <h3>Sprzedawca</h3>
    <form>
        <div class="form-group">
            <label>Nazwa Firmy</label>
            <input type="text" class="form-control" readonly="readonly" ng-model="rc.rachunek.vendor.name" />
        </div>
        <div class="form-group">
            <label>Adress</label>
            <input type="text" class="form-control" readonly="readonly" ng-model="rc.rachunek.vendor.address" />
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label>Kod pocztowy</label>
                <input type="text" class="form-control" readonly="readonly" ng-model="rc.rachunek.vendor.zip" />
            </div>
            <div class="col-xs-9">
                <label>Miasto</label>
                <input type="text" class="form-control" readonly="readonly" ng-model="rc.rachunek.vendor.city" />
            </div>
        </div>
        <div class="form-group">
            <label>NIP</label>
            <input type="text" class="form-control" readonly="readonly" ng-model="rc.rachunek.vendor.nip" />
        </div>
        <div class="form-group">
            <label>Bank</label>
            <input type="text" class="form-control" readonly="readonly" ng-model="rc.rachunek.vendor.bankName" />
        </div>
        <div class="form-group">
            <label>Nr. konta</label>
            <input type="text" class="form-control" readonly="readonly" ng-model="rc.rachunek.vendor.bankAccount" />
        </div>
    </form>
</div>