<div class="rachunki-client-form">
    <h3>Nabywca</h3>
    <form>
        <div class="form-group">
            <label>Nazwa Firmy</label>
            <input type="text" class="form-control" ng-model="rc.rachunek.buyer.name" />
        </div>
        <div class="form-group">
            <label>Adress</label>
            <input type="text" class="form-control" ng-model="rc.rachunek.buyer.address" />
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label>Kod pocztowy</label>
                <input type="text" class="form-control" ng-model="rc.rachunek.buyer.zip" />
            </div>
            <div class="col-xs-9">
                <label>Miasto</label>
                <input type="text" class="form-control" ng-model="rc.rachunek.buyer.city" />
            </div>
        </div>
        <div class="form-group">
            <label>Kraj</label>
            <input type="text" class="form-control" ng-model="rc.rachunek.buyer.country" />
        </div>
        <div class="form-group">
            <label>NIP</label>
            <input type="text" class="form-control" ng-model="rc.rachunek.buyer.nip" />
        </div>
        <div class="form-group">
            <label>REGON</label>
            <input type="text" class="form-control" ng-model="rc.rachunek.buyer.regon" />
        </div>
    </form>
</div>