<div id="rachunki" class="row" ng-controller="RachunkiController as rc">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4" ng-include="'app/rachunki/views/form-client.view.html'"></div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8" ng-include="'app/rachunki/views/products-table.view.html'"></div>
</div>
     