<div id="rachunki" class="row" ng-controller="InvoiceController as rc">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Nr. Faktury</label>
                    <input type="text" class="form-control" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Data sprzedaży</label>
                    <input type="date" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Data wystawienia</label>
                    <input type="date" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Miejsce wystawienia</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-md-offset-3 col-md-3">
                <div class="form-group">
                    <label>Forma płatności</label>
                    <select class="form-control">
                        <option>Przelew</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Miejsce wystawienia</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-include="'app/rachunki/views/form-seller.view.html'"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-2" ng-include="'app/rachunki/views/form-client.view.html'"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="'app/rachunki/views/products-table.view.html'"></div>
</div>
     