<div class="rachunki-products-table">
    <h3>Lista produktów / usług</h3>
    <button class="btn btn-default" ng-click="rc.addRow=true; rc.editRow=true;"><i class="glyphicon glyphicon-plus"></i> Dodaj produkt</button>
    <hr />
    <table class="table table-responsive table-bordered table-striped">
        <thead>
            <tr>
                <th width="20">Lp.</th>
                <th width="20">
                    <input type="checkbox" />
                </th>
                <th>Nazwa</th>
                <th width="100">KPWiR</th>
                <th width="50">Jedn.</th>
                <th width="100">Cena netto</th>
                <th width="100">Ilość</th>
                <th width="50">VAT</th>
                <th width="100">Cena brutto</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in rc.rachunek.products">
                <td>{{$index+1}}</td>
                <td><input type="checkbox" ng-model="rc.checkbox[$index]" /></td>
                <td>{{item.name}}</td>
                <td>{{item.kpwir}}</td>
                <td>{{item.unit}}</td>
                <td>{{item.price_netto}}</td>
                <td>{{item.ilosc}}</td>
                <td>{{item.vat}}</td>
                <td>{{item.cena_brutto}}</td>
            </tr>
            <tr ng-show="rc.editRow">
                <td></td>
                <td></td>
                <td>
                    <input type="text" class="form-control" require ng-model="rc.form.name" />
                </td>
                <td>
                    <input type="text" class="form-control" require ng-model="rc.form.kpwir" />
                </td>
                <td>
                    <input type="text" class="form-control" require ng-model="rc.form.unit" />
                </td>
                <td>
                    <input type="text" class="form-control" require ng-model="rc.form.price_netto" />
                </td>
                <td>
                    <input type="text" class="form-control" require ng-model="rc.form.ilosc" />
                </td>
                <td>
                    <input type="text" class="form-control" require ng-model="rc.form.vat" />
                </td>
                <td>
                    <input type="text" class="form-control" require ng-model="rc.form.cena_brutto" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-show="rc.addRow">
                <td colspan="9" class="text-right">
                    <button class="btn btn-success" ng-click="rc.insertProduct();">
                        <i class="glyphicon glyphicon-check"></i> Dodaj
                    </button>
                </td>
            </tr>
            <tr ng-show="rc.isChecked()">
                <td colspan="9" class="text-right">
                    <button class="btn btn-default" ng-hide="rc.editRow" ng-click="rc.editProduct()">
                        <i class="glyphicon glyphicon-edit"></i> Edytuj
                    </button>
                    <button class="btn btn-danger" ng-hide="rc.editRow" ng-click="rc.removeProducts()">
                        <i class="glyphicon glyphicon-trash"></i> Usuń
                    </button>
                    <button class="btn btn-success" ng-show="rc.editRow" ng-click="rc.saveProduct()">
                        <i class="glyphicon glyphicon-save"></i> Zapisz
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="9"></td>
            </tr>
        </tfoot>
    </table>
</div>