/* 
    Created on : 2015-12-30, 11:17:19
    Author     : Dawid
*/
body {
  padding-top: 60px; }

/* 
    Created on : 2016-01-03, 16:34:38
    Author     : Dawid Pych
*/
#kpir .table th {
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em; }
#kpir .table td {
  vertical-align: middle;
  font-size: 0.8em; }

/*# sourceMappingURL=style.css.map */
