<div id="kpir" class="row" ng-controller="KpirController as kpir">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-2">Nazwa firmy</div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2">NIP</div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2">Regon</div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-2">Ulica</div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2">Kod pocztowy i poczta</div>
            <div class="col-xs-2"></div>
        </div>
        <uib-tabset>
            <uib-tab 
                heading="{{month}}" 
                ng-repeat="month in ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrześień', 'Październik', 'Listopad', 'Grudzień']">
                <div ng-include="'app/kpir/views/table.view.html'"></div>
            </uib-tab>
            <li class="tab-pane pull-right">
                <select class="form-control">
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                </select>
            <li>
        </uib-tabset>
    </div>
</div>
     