<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th rowspan="2">Lp.</th>
                <th rowspan="2">Data zdarzenia gospodarczego</th>
                <th rowspan="2">Nr dowodu księgowego</th>
                <th colspan="2">Kontrahent</th>
                <th rowspan="2">Opis zdarzenia</th>
                <th colspan="3">Przychód</th>
                <th rowspan="2">Zakup towarów handlowych i materiałów wg ceny zakupu</th>
                <th rowspan="2">Koszty uboczne zakupu</th>
                <th colspan="4">Wydatki (koszty)</th>
                <th rowspan="2">Uwagi</th>
            </tr>
            <tr>
                <th>Imię i nazwisko (firma)</th>
                <th>Adres</th>
                <th>Wartość spredanych towarówi usług</th>
                <th>Pozostałe przychody</th>
                <th>Razem przychód</th>
                <th>Wynagrodzenie w gotówne i naturze</th>
                <th>Pozostałe wydatki</th>
                <th>Razem wydatki</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in kpir.items">
                <td class="text-center">{{item.id}}</td>
                <td class="text-center">{{item.date | date : 'dd.MM.yyyy' }}</td>
                <td class="text-center">{{item.id_accounting_evidence}}</td>
                <td class="text-center">{{item.id_contractor.name}}</td>
                <td class="text-center">{{item.id_contractor.adress}}</td>
                <td>{{item.desc}}</td>
                <td class="text-right">{{item.income}}</td>
                <td></td>
                <td></td>
                <td class="text-right">{{item.bought}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>