/* 
    Created on : 2016-01-03, 16:34:38
    Author     : Dawid Pych
*/

#kpir {
    .table {
        th {
            text-align: center;
            vertical-align: middle;
            font-size: 0.8em;
        }
        td {
            vertical-align: middle;
            font-size: 0.8em;
        }
    }
}